{% extends 'base.html.twig' %}

{% block title %}Paiement index{% endblock %}

{% block body %}
<div class="container">
    <div class="row my-4">
        <div class="col-md-12 d-flex align-items-center justify-content-between">
            <div>
                <h1>Liste des paiements</h1>
            </div>
            <div>
                <a id="add" href="{{ path('app_paiement_new') }}" class="btn btn-success align-self-center mx-2"><i class="fa-sharp fa-regular fa-plus"></i></a>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_paiement</th>
                <th>Montant</th>
                <th>Locataire</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for paiement in paiements %}
            <tr>
                <td>{{ paiement.id }}</td>
                <td>{{ paiement.datePaiement ? paiement.datePaiement|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ paiement.montant }}€</td>
                <td><a href="{{ path('app_locataire_show', {'id': paiement.locataire.id}) }}"><i class="fa-solid fa-users-viewfinder"></i> {{ paiement.locataire.fullname }}</a></td>
                <td>
                    <a href="{{ path('app_paiement_show', {'id': paiement.id}) }}" class="btn btn-primary mx-1"><i class="fa-solid fa-arrow-up-right-from-square"></i> Voir</a>
                    <a href="{{ path('app_paiement_edit', {'id': paiement.id}) }}" class="btn btn-success mx-1"><i class="fa-solid fa-pencil"></i>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th>Total</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td><strong>{{paiementTotal}} €</strong></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock %}
