{% extends 'base.html.twig' %}

{% block title %}Liste des appartements{% endblock %}

{% block body %}
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-between">
            <div>
                <h1>Liste des appartements</h1>
            </div>
            <div>
                <a id="add" href="{{ path('app_appartement_new') }}" class="btn btn-success align-self-center mx-2"><i class="fa-sharp fa-regular fa-plus"></i></a>
            </div>
        </div>
    </div>
    <div class="row azer mt-4 justify-content-center">
        {% for appartement in appartements %}
            <div class="col col-lg-3 col-md-3 col-sm-4 d-flex flex-wrap justify-content-center zqsd">
                <div>
                    <div class="text-center">
                    {% if appartement.locataire %}
                        <span class="position-absolute top-0 start-50 translate-middle p-2 badge badge-info">Réservé</span>
                    {% else %}
                    {% endif %}
                        <span class="agence_light">Exclusivité</span>
                        <span class="agence_bold">Agence {{appartement.agence.nomAgence}}</span>
                        <p class="loyer">Appartement ID n°{{appartement.id}}</p>
                    </div>
                </div>
                <div class="text-center">
                    <img src="https://v.seloger.com/s/crop/250x250/visuels/1/p/j/4/1pj4gn6jy46ksumanuhkc7cjszouem6bnml0vt3sw.jpg" class="">
                </div>
                <div class="">
                    <div class="text-center">
                    <br />
                        <p class="loyer">{{appartement.prixLoyer}} €/mois</p>
                    </div>
                    <div class="text-center">2 pièces<span> ● </span>1 chambre<span> ● </span>36 m²
                    </div>
                    <p class="text-center"><i class="fa-solid fa-location-dot"></i> {{appartement.ville}} ({{appartement.codePostal}})</p>
                    <p class="text-center">Montant du dépôt de garantie : {{appartement.prixDepotGarantie}}€</p>
                    <div class="d-flex justify-content-center">
                        <a href="{{ path('app_appartement_show', {'id': appartement.id}) }}" class="btn btn-primary mx-1"><i class="fa-solid fa-arrow-up-right-from-square"></i> Voir</a>
                        <a href="{{ path('app_appartement_edit', {'id': appartement.id}) }}" class="btn btn-success mx-1"><i class="fa-solid fa-pencil"></i> Editer</a>
                    </div>
                </div>
            </div>
        {% else %}
                <p>Walou</p>
        {% endfor %}
        </div>
    </div>
</div>
{% endblock %}